@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.sora{
  font-family: "Sora";
}
.shadow{
  box-shadow: inset 0px 4px 50px 0px rgba(11, 11, 11, 0.15);
}
.details_shadow{
  box-shadow: inset 0px 4px 50px 0px rgba(11, 11, 11, 0.15);
}